body{

	font-size: 12px;
    font-family: 'helvetica';
    overflow:hidden;
}


.languaje img.english{
    
     position: absolute;
    right: 20px;
    top: 20px;
    cursor:  pointer;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
  
}

.languaje:hover{
    
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
 
}
 /*-------------------------------------------------------------------------------------------------*/

.load_images{

    display: none;
}

/*-------------------------------------------------------------------------------------------------*/

.main.inicio{


	background:url("../img/resources/Bg_inicio.jpg") no-repeat scroll 0 -91px / 100% auto transparent;
}

.main.bienvenida{
    background: url("../img/resources/Bg_bienvenida.jpg") no-repeat scroll 0 -91px / 100% auto transparent;

}

.main.contacto{
    background: url("../img/resources/Bg_contacto.jpg") no-repeat scroll 0 -91px / 100% auto transparent;

}

.main.cotizacion{
    background: url("../img/resources/Bg_cotizacion.jpg") no-repeat scroll 0 -91px / 100% auto transparent;

}

.main.instalaciones{
    background: url("../img/resources/Bg_instalaciones.jpg") no-repeat scroll 0 -91px / 100% auto transparent;

}

.main.servicios{
    background: url("../img/resources/Bg_servicios.jpg") no-repeat scroll 0 -91px / 100% auto transparent;

}

.main.paquetes{
    background: url("../img/resources/Bg_paquetes.jpg") no-repeat scroll 0 -91px / 100% auto transparent;

}
 

/* ---------------------------------------------------------------- bg sections*/


.main{
     bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

/* ----------------------------------------------------------------------- menu.php */

.logo{

background: url("../img/resources/Logotipo_Miiluma.png") no-repeat scroll 0 0 transparent;
    height: 154px;
    width: 461px;
    float: left;
}


.menu  ul {
 background: url("../img/resources/Menu_Linea.png") no-repeat scroll center bottom / 100% auto transparent;
    float: right;
    padding-bottom: 74px;
    padding-top: 57px;
}



.menu  ul li {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 22px;
    font-size: 14px;
    color: white;
    font-weight: bold;
 
}

.menu ul li a:hover , .button_actived{

        color: #D85A27 !important;
    text-shadow:1px 1px 4px rgba(255,255,255,.9);
}


.menu ul li a:active  {

        color: #CB7E36 ;
        text-shadow: 0 0;
}


.menu a{
	color: rgba(255,255,255,.9);
	text-shadow:1px 1px rgba(100,100,100,.5);
}





/*-------------------------------------------------------------------------footer.php*/


.message_nav {
  background: none repeat scroll 0 0 rgba(216, 90, 39, 0.9);
    color: white;
    font-weight: bold;
    height: 49px;
    padding: 27px;
    width: 32%;

}

.message{


}

footer nav{


	float: left;
}

footer{
    bottom: 0;
    height: 96px;
    position: absolute;
    width: 100%;
}


.partner{

 background: none repeat scroll 0 0 rgba(244, 179, 99, 0.9);
    border-radius: 4px 4px 0 0;
    color: #333333;
    display: inline-block;
    float: left;
    height: 104px;
    margin-left: 1%;
    padding: 1%;
    width: 60%;

}

.certificade.partner li {
   float: left;
    margin-left: 25px;
    text-align: center;
    cursor: pointer;
}


.certificade.partner li img.small{
     margin-top: 16px;
}


.certificade.partner li img.normal{
     margin-top: 4px;
}


.certificade.partner > ul {
    float: right;
}