
body{

	font-size: 12px;
    font-family: 'osanslight';
    overflow:hidden;
}


 
.logo {
 background: url("../img/resources/Logotipo_Miiluma.png") no-repeat scroll 0 0 / 100% auto transparent;
    height: 97px;
    left: 10%;
    margin-bottom: 4%;
    margin-left: 33%;
    margin-top: 4%;
    width: 32%;
}



 

.menu ul {
    float: right;
    margin-top: 0 !important;
    width: 97%;
}


.menu ul li {
     color: white;
    float: left;
    font-size: 14px;
    padding: 0 22.3px;
}



.menu ul li a:hover , .button_actived{

border-bottom: 3px solid #D85A27;
    color: #D85A27 !important;
    padding-bottom: 12px;
    text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.9) !important;
}

/*-------------------------------------------------------------------------------------------------*/

.main.inicio{


	background:url("../img/resources/Bg_inicio.jpg") no-repeat scroll 31% -4px / 193% auto transparent;

}
.main.bienvenida{
    background: url("../img/resources/Bg_bienvenida.jpg") no-repeat scroll 42% -25px / 193% auto transparent;

}

.main.contacto{
    background: url("../img/resources/Bg_contacto.jpg")no-repeat scroll 99% -103px / 193% auto transparent;

}

.main.cotizacion{
    background: url("../img/resources/Bg_cotizacion.jpg") no-repeat scroll 99% -103px / 193% auto transparent;

}

.main.instalaciones{
    background: url("../img/resources/Bg_instalaciones.jpg") no-repeat scroll 99% -103px / 193% auto transparent;

}

.main.servicios{
    background: url("../img/resources/Bg_servicios.jpg") no-repeat scroll 99% -103px / 193% auto transparent;

}

.main.paquetes{
     background: url("../img/resources/Bg_paquetes.jpg") no-repeat scroll 99% -103px / 193% auto transparent;
}
 

/* ---------------------------------------------------------------- bg sections*/


.main{
      bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}


.message-content > ul {
    border-radius: 6px 0 0 6px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.9);
    margin: 25% 0 7% 7%;
    opacity: 0.2;
    padding: 1% 13% 1% 1%;
    position: absolute;
    right: -2px;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.7);
}


footer {
    bottom: 0;
    height: auto;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}


.message_nav {
 background: none repeat scroll 0 0 rgba(216, 90, 39, 0.9);
    color: white;
    font-weight: bold;
    height: 134px;
    padding: 3%;
    width: 32%;
}

.message-content ul li:first-child {
    font-size: 31px !important;
}

.message-content li:last-child {
    font-size: 18px!important;
 
}

.partner {
  background: none repeat scroll 0 0 rgba(244, 179, 99, 0.9);
    border-radius: 4px 4px 0 0;
    color: #333333;
    float: left;
    height: 104% !important;
    padding: 1% 0 3.3%;
    width: 62%;
}

.certificade.partner li {
cursor: pointer;
    float: left;
    margin-left: 4px;
    text-align: center;
}


.menu {
 float: right;
}


.spacing-icon {
    margin-right: 24px;
}



.text-message {
 bottom: 25%;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'osansItalic';
    font-size: 20px;
    margin-top: 80px;
    position: absolute;
    right: 19px;
}


.message-content li:last-child {
    font-size: 18px;
    font-weight: normal;
    padding-left: 23px;
}